canvas {
  width: 1024px;
  height: 578px;
  background-size: 1024px 578px;
  background-position: 0 0;
  background-image: url('../assets/images/pool-table.svg');
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
}